<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tibia ClientID Finder</title>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container" id="app">
        <div class="row">
            <div class="column">
                <input type="text" placeholder="type item name to search" v-model="keyword" @change="search(keyword)">
                <span class="error" v-if="error"v-html="error"></span>
            </div>
        </div>

        <div class="row">
            <div class="column" v-if="!results || !results.length">
                <br>
                <h4>Categories</h4>
                <table>
                    <tr v-for="(count, category) in categories">
                        <td>{{ category }} ({{ count }})</td>
                        <td class="action"><button @click.prevent="showCategory(category)" type="button">Show more</button></td>
                    </tr>
                </table>
            </div>
            <div class="column" v-if="results && results.length">
                <br>
                <h4>Results ({{ results.length }})</h4>
                <table>
                    <thead>
                        <tr>
                            <th>item name</th>
                            <th>type</th>
                            <th>client id</th>
                            <th>server version</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr v-for="item in results">
                            <td v-html="item.name"></td>
                            <td>{{ item.type }}</td>
                            <td v-html="item.client_id"></td>
                            <td>{{ item.version }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.min.js"></script>
    <script src="script.js"></script>
</body>
</html>
