#app {
    padding: 5rem;
}

.action {
   text-align: right; 
}

.error {
    font-weight: normal;
    color: red;
    border-left: 0.3rem solid red;
    padding-left: 1rem;
}
h4 {
    font-weight: normal;
    color: #9b4dca;
    border-left: 0.3rem solid #9b4dca;
    padding-left: 1rem;
    margin: 0;
}
